<center>
<button class="btn btn-primary" type="button">ROOMS AVAILABLE FOR CHATTING</button><br><br>
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th><center>ROOM NAME</center></th>
        <th><center>EDIT NAME</center></th>
      </tr>
    </thead>
    <tbody>
      <% @rooms.each do|r| %>
          <tr>
            <td><center><%=r.name%><center></td>
            <td><center><button class="btn btn-outline-info"><%=link_to "Edit", edit_room_path(r)%></button><center></td>
          </tr>
      <%end%>
    </tbody>
  </table>
</center>